@import url(https://fonts.googleapis.com/css?family=Erica+One);
@import url(https://fonts.googleapis.com/css?family=Ribeye);

// COLORS
$dark-grey: #5e6472;
$blue: #aed9e0;
$green: #b8f2e6;
$beige: #faf3dd;
$salmon: #ffa69e;

$red: #ff0800;
$white: #fff;
$black: #000;

// FONTS
$primaiy-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$main-font-family: 'Erica One', cursive;
$sub-font-family: 'Ribeye', cursive;

// UTILS
$section-gap: 160px;
