// Color Palette from https://coolors.co/palette/031d44-04395e-70a288-dab785-d5896f

$dark-blue: "#031d44";
$medium-blue: "#04395e";
$green: "#70a288";
$lite-orange: "#dab785";
$medium-orange: "#d5896f";
