{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"redux": "redux/dist/redux.min.js",
					"react-redux": "./node_modules/react-redux/dist/react-redux.legacy-esm.js",
					"test": "./test",
					"underscore": "lodash"
				}
			}
		]
	]
}
