{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"react-router-dom": "react-router-dom/umd/react-router-dom.min.js",
					"redux": "redux/dist/redux.min.js",
					"react-redux": "react-redux/dist/react-redux.min.js",
					"test": "./test",
					"underscore": "lodash"
				}
			}
		]
	]
}
